#header
{
background-color:#808080;
width:25%;
height:250px;
float:left;
}
#header1
{
background-color:#ffffff;
float:left;
width:50%;
height:400px;
}
#header2{
background-color:#808080;float:right;width:25%;height:400px;
}
#header3{
background-color:#ff0000;clear:both;width:100%;height:100px;
}
#header4{
background-color:#ff0000;width:1282px; height:100px;
}
#table
{
background-color:#ddd5d5;
width:700px; height:300px;
}